<div style="width: 30%;margin: auto;">
    <form [formGroup]='form' (ngSubmit)="onSubmit($event)">
        <!-- <pre>{{form.value | json}}</pre> -->
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" class="form-control" id="firstName"
                placeholder="Enter your First Name" formControlName='firstName'>
            <div class="input-error" *ngIf="form.controls.firstName.dirty && form.controls.firstName.hasError('required')"> This is a required field</div>
            <div class="input-error" *ngIf="form.controls.firstName.dirty && form.controls.firstName.hasError('BanNameValidator')">You are not allowed to use {{form.controls.firstName.getError('BanNameValidator').banWords}} for names</div>
            <div class="input-error" *ngIf="form.controls.firstName.dirty && form.controls.firstName.hasError('checkname')">name {{form.controls.firstName.getError('checkname').checkname}} is already taken</div>
            <div class="input-info" *ngIf="form.controls.firstName.pending">checking the name ...</div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" class="form-control" id="lastName"
                placeholder="Enter your Last Name" formControlName='lastName'>
        </div>
        <div class="form-group">
            <label for="nickName">Nick Name</label>
            <input type="text" name="nickName" class="form-control" id="nickName"
                placeholder="Enter your Nick Name" formControlName='nickName'>
        </div>
        <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input type="text" class="form-control" name="email" id="emailAddress"
                placeholder="Enter your Email Address" formControlName='emailAddress'>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="dataOfBirth">Date Of Birth</label>
                <select id="dataOfBirth" name="yearOfBirth" class="form-control" formControlName='yearOfBirth'>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="passport">Passport</label>
                <input type="text" name="passport" class="form-control" id="passport"
                    placeholder="Enter your Passport" formControlName='passport'>
                <div class="input-error" *ngIf="form.controls.passport.dirty && form.controls.passport.hasError('required')"> This is a required field for Adult</div>

            </div>
        </div>
        <fieldset formGroupName="address">
            <legend>Address</legend>
            <div class="form-group">
                <label for="fullAddress">Full Address</label>
                <input type="text" name="fullAddress" class="form-control"
                    id="fullAddress" placeholder="Enter your Full Address" formControlName='fullAddress'>

            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" name="city" class="form-control" id="city"
                    placeholder="Enter your City"formControlName='city' >
            </div>
            <div class="form-group">
                <label for="postCode">Post Code</label>
                <input type="number"  name="postCode" class="form-control" id="postCode"
                    placeholder="Enter your Post Code" formControlName='zipCode'>
            </div>
        </fieldset>
        <fieldset formArrayName="phones">
            <button (click)="addPhone()">+</button>
            <legend>Phone Numbers</legend>
            <div class="form-group" *ngFor="let phone of form.controls.phones.controls; index as i" [formGroupName]="i">
                <label for="phone-{{i}}">Phone Number</label>
                <input type="text" class="form-control" 
                id="phone-{{i}}" placeholder="Enter your Phone Number" formControlName='phoneNumber'>
                <div class="form-group col-md-6">
                    <label for="label-{{i}}">Lable</label>
                    <select id="label-{{i}}" class="form-control" formControlName='label'>
                        <option value="Home">Home</option>
                        <option value="Mobile">Mobile</option>
                        <option value="Main">Main</option>
                        <option value="Work">Work</option>
                    </select>
                </div>
                <button (click)="removePhone(i)">-</button>
                
            </div>
            
        </fieldset>
        <fieldset formGroupName="skills" *ngIf="skills$ | async as skills else loading;">
            <legend>Skills</legend>
            <div class="form-group" *ngFor="let skill of skills; index as i">
                <label [for]="skill">{{skill}}</label>
                <input type="checkbox" [id]="skill" [formControlName]='skill'>
                
            </div>
            
        </fieldset>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<ng-template #loading>Skills Are Loadings ... </ng-template>